
        body {
            background-color: antiquewhite; 
            /*background-image: url("image/a1.jpg");*/
        }
        /*li{
            color: cornflowerblue;
            font-size: 40px;
            background-color: blanchedalmond; 
            margin: auto;
            width: 540px;
            padding: 10px;
           
        }*/
        h1{
            width: 300px;
            font-size: 60px;
            text-align:center;
            margin: auto;
        }
        p{
            color: rgb(39, 36, 56);
            font-size: 10px;

            
        }
        img{
            height: 500px;
            width: 250px;
            /*margin-right: 10px;*/
        }  
        
